.box {
    border: 2px dashed purple;
    background: lightseagreen; 
}

.text {
    border: 2px dashed blue;
    padding: 20px 50px 10px 50px;
    background: rgb(143, 185, 199);
    margin: 100px 100px 0px 0px; 
}