/* Reset some default styles */
body, h1 {
    margin: 0;
    padding: 0;
  }
  
  /* Basic styling for the gallery */
  .full-img {
    position: relative;
  }
  
  .displayed-img {
    max-width: 100%;
    height: auto;
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0); /* Initially transparent */
  }
  
  .dark {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
  }
  
  .thumb-bar {
    margin-top: 20px;
  }
  
  .thumb-bar img {
    width: 20%;
    float: left;
    cursor: pointer;
    opacity: 0.7; /* Opacity for non-selected images */
  }
  
  .thumb-bar img:hover {
    opacity: 1; /* Full opacity on hover */
  }
  
  /* Add more styles as needed */