body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(149, 214, 217);
}
nav{
    height: 50vh;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:20px;
    background-color: rgb(255, 234, 9);
}
nav a{
    width:18vw;
    text-align: center;
    text-decoration: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: bold;
    color:rgb(237, 107, 21);
}

h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(230, 31, 84)
}


img{
    width:30vw;
    height: 30vh;
}

#red-ball{
    background-color: rgb(84, 66, 241);
    width: 20px;
    height:20px;
    border-radius: 50%;
    position: absolute;
    left:5vw;
    top:0;
}