.parent {
    position: relative;
}

.image1 {
    width: 100%;
    height: auto;
}

.image2 {
    position: absolute;
    top: 69%;
    left: 7%;
    width: 89.5%;
}

.image3 {
    position: absolute;
    top: 41%;
    left: -2%;
    width: 25%;
}