body {
    background-color: blueviolet;
}

div {
    background-color: aquamarine;
    color:aliceblue;
    font-size: 5vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5vw;
    margin: 2.5vw;
    border: yellow 5px solid;
}

.div-wrapper {
    display: gird;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

@media screen and (max-width: 900px) {
    body {
        background-color: red;
    }

    .div-wrapper {
        display: flex;
        flex-direction: column;
    }
}



